
:root {
    --primary-color: #1A535C; 
    --secondary-color: #D7FFF1; 
    --accent1-color: #C4B1AE; 
    --accent2-color: #7D4F50; 
}

body {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
    color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

@font-face {
    font-family: "Noticia text";
    font-style : normal;
    font-weight : 700;
    font-display : swap;
    src: url(https://fonts.gstatic.com/s/noticiatext/v15/VuJpdNDF2Yv9qppOePKYRP1-3R59vw.ttf) format("truetype");
}

@font-face {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 100;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
    }
